
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 text-center my-auto">
        <img src="assets/employee-image.png" class="img-fluid rounded-circle" alt="Profile Image" style="width: 150px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ employee.name }}</h5>
          <p class="card-text"><strong>Role:</strong> {{ employee.role }}</p>
          <p class="card-text"><strong>Reporting To:</strong> {{ employee.reportingTo }}</p>
          <p class="card-text"><strong>Corporate Level:</strong> {{ employee.corporateLevel }}</p>
          <p class="card-text"><strong>Lifetime:</strong> {{ employee.lifetime }}</p>
          <p class="card-text"><strong>Vacation Days Left:</strong> {{ employee.vacationDaysLeft }}</p>
          <p class="card-text"><strong>Sick Days Left:</strong> {{ employee.sickDaysLeft }}</p>
          <button class="btn btn-outline-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  
  
